---
layout: product
title: Service guidance
description: A guide on how to use Mavis.
homepage: true
---

<p class="nhsuk-body">Manage vaccinations in schools (Mavis) is a digital tool designed to help school age immunisation service (SAIS) teams manage their vaccination programmes end to end.</p>

{% from "nhsuk/components/action-link/macro.njk" import actionLink %}
<p class="nhsuk-body">
  {{ actionLink({
    classes: "nhsuk-u-margin-0",
    text: "User guide",
    href: "/guide/"
  }) }}
</p>

<p class="nhsuk-body">
  {{ actionLink({
    classes: "nhsuk-u-margin-0",
    text: "Email templates for SAIS teams and schools",
    href: "/email-templates-for-sais-and-schools/"
  }) }}
</p>

<p class="nhsuk-body">
  {{ actionLink({
    classes: "nhsuk-u-margin-0",
    text: "File upload templates",
    href: "/file-upload-templates/"
  }) }}
</p>

<p class="nhsuk-body">To access the service, visit <a href="https://www.manage-vaccinations-in-schools.nhs.uk/start">www.manage-vaccinations-in-schools.nhs.uk</a>.</p>

<hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

<p class="nhsuk-body">We want this guide to be as useful as possible. If you think anything could be improved, please send your suggestions to <a href="mailto:england.mavis@nhs.net">england.mavis@nhs.net</a>.</p>
